/Library/
/Temp/
/obj/
/Logs/
/UserSettings/
/Builds/
/*.sln
/*.csproj
/.vscode/
/.vs/
/LunaTemp/
/LunaPlayable/pipeline/.auth_credentials.user
/LunaPlayable/pipeline/.auth_response.user
/LunaPlayable/pipeline/templates/LunaCompiler/bin/
/LunaPlayable/pipeline/templates/LunaCompiler/Scripts/bin/
/LunaPlayable/pipeline/templates/LunaCompiler/Scripts/obj/